#root {
  padding: 1rem;
  background: linear-gradient(to bottom, #fff, var(--main-color-lighter), var(--main-color-darker));
}

:root {
  --secondary-color: #ec3237;
  --main-color-darker: #fff9b1;
  --main-color-lighter: #fff9bb;

}
.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/* Classes */
.flex {
  display: flex;

}


.accolades {
  width: 100%;
  display: flex;
  gap: 20px;
  /* flex-wrap: wrap-reverse; */
}
.cri-award-info {
  flex: 2 1;
  width: 100%;
}
.cri-award {
  flex: 1 1;
  width: 200px;
  /* flex: 1 1 400px; */
  /* height: 100%; */

  align-self: flex-end;
}
.cri-logo {
  /* width: 300px; */
  width: min(909rem, max(40vw, 150px));
}
.award-presentation {
  width: 100%;

}
.cri-equipments {
  width: 100%;
}

hr {
  border-bottom: 2px solid var(--secondary-color);
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  min-height: 80px;
  background-color: var(--secondary-color);
}
footer img {
  width: 20px;
}
footer > div {
  flex: 1 0 200px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;

  color: #fff;
}
.center {
  text-align: center;
}
.list-item span:not(span:last-child) {
  border-right: 2px solid var(--secondary-color);
}
.list-item span:not(span:last-child),
.list-item span:last-child {
  padding: .5px 6px;
}

@media screen and (max-width: 580px) {
  .accolades {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .cri-award {
    margin: auto;
  }
  body {
  font-size: .8rem;
}
  /* footer p {
    display: none;
  }
  footer > div {
    align-items: center;
  } */
}
